body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 60px); /* Adjust for fixed header */
  padding-top: 60px; /* Space for fixed header */
}

.form-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px; /* Increased padding for more space */
  max-width: 600px; /* Slightly wider card */
  width: 100%;
}

.form-card h2 {
  text-align: center;
  color: #4caf50;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  color: #4caf50;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"]{
  background-color: #45a049;
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
